@import "../../assets/styles/base";

.registration-message span {
  font-weight: bold;
  color: $sba-blue;
}

#registrationModal .close-icon {
  background: white;
  padding-top: 5px;
}

#registrationModal .button.submit {
  background: $sba-blue;
  color: white;
}

#registrationModal h2 {
  color: $sba-navy;
}

#registrationComplete .registration-message.row {
  padding: 0;
}