@import "../../assets/styles/base";

.registration-message {
  font-weight: bold;
  color: blue;
}

span {
  text-align: center;
}

#registrationModal .button {
  background: white;
  padding-top: 5px;
}