@import "../../assets/styles/base";

.navbar.ui.menu {
  height: 65px;
  background-color: $dark-blue;

  a {
    padding-bottom: 0;
  }

  .dropdown.navigation-learning-path {
    padding-bottom: 0;
    margin-right: 20px;
  }

  .text {
    color: white;
  }

  .icon {
    color: white;
  }

  #navbar-learning-paths.active {
    background-color: $grey1;

    .icon {
      color: black;
    }
    
    .menu {
      background-color: $grey1;
    }

    .text {
      color: black;
    }

    a {
      color: black;
    }

    .learning-path-item {
      background-color: $grey1 !important;
      margin: 20px;
    }

    .learning-path-item:hover {
      background-color: $light-blue !important;
    }

    .navigation-learning-path.dropdown.visible {
      .menu {
        background-color: white;
      }
    
      img {
        margin-right: 20px;
      }

      .topic-summary {
        margin-left: 15px;

        .path-description {
          white-space: normal;
          margin-top: 15px;
        }
      }
    }
  }

  #navbar-learning-paths {
    padding-top: 24px;
  }

  .search-bar {
    padding: 0;
    padding-top: 13px;

    .fields {
      margin-bottom: 0;

      .search-input {
        padding-right: 0;
      }
    }

    .button {
      background-color: $light-blue;
      color: white;
    }
  }

  img.logo {
    width: 2.5em;
  }

  .registrationButtons {
    padding-bottom: 0;

    .button {
      background-color: $dark-blue;
      color: white;
    }
  }

  .userButtons {
    color: white;

    a {
      color: white;
    }

    padding-bottom: 0;
  }

  .greeting {
    padding-bottom: 11px;
  }

  .logoutLink {
    margin-right: 100px;
    cursor: pointer;
  }
}

.ui.button.invisible {
  display: none;
}