@import "../../assets/styles/base";

.container.learning-event-container {
  background: $sba-white;
  border: $main-border;
  box-shadow: $main-box-shadow;
  padding: 15px 0px 25px 0px;
  margin-top: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}


// LearningEventPage
.learning-event-body, .learning-event-quiz  {
  padding-left: 45px;
  padding-right: 45px;
}

// LearningEventHeader
.learning-event-header {
  color: $sba-dark-grey;
  &.grid {
    padding: 20px 45px 0 45px;
  }

  .row.header-row {
    padding: 0;
  }
  .topic-title {
    font-size: 17px;
  }
  .header.event-title {
    padding: 4px 0;
    color: $sba-dark-grey;
  }
  .event-meta {
    font-size: 16px;
    font-style: italic;
  }
}

// LearningEventFooter
.learning-event-footer {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

/* Prototyping for infographic until more robust css in place */
.infographic-header-footer {
  background-color: #0b2f6b;
}

.header-text {
  font-size: 40px;
}

.row.infographic-header-border {
  padding-top: 0px !important;
  background-color: #a8e7ee;
}
.row.infographic-header-border > img {
  margin-top: -1px;
}

.skyblue-white-gradient {
  background-image: linear-gradient(#a8e7ee, #ffffff);
}
.no-padding {
  padding: 0;
}
.largest-text {
  font-size: 100px;
  font-weight: bold;
}

.small-text {
  font-size: 25px;
}

.medium-text {
  font-size: 40px;
  font-weight: bolder;
}
.page-navigation-buttons-wrapper {
  width: 100%;
  text-align: right;
}

.question .ui.form > .field {
  margin: 0px;
}

.question > p {
  margin: 0 0 .5em;
}