@import "../../assets/styles/base";

.share-modal-button {
  margin-right: 5px;
  float: right;
  cursor: pointer;
}

#shareModal .share-modal-share {
  display: inline-block;
  margin-left: 6%;
}

#shareModal .share-modal-share > div {
  cursor: pointer;
}

#shareModal .share-modal-share > p {
  margin-top: 5px;
  text-align: center;
  color: $sba-navy;
}

#shareModal h2 {
  color: $sba-navy;
}

#shareModal .share-method-group {
  margin-top: 20px;
}

#shareModal div.share-method-column {
  text-align: center !important;
}

#shareModal div.share-text-input > input {
  width: 324px !important;
  margin: 5px 5px 15px 0 !important;
  border-radius: 0 !important;
}

#shareModal .share-close-button {
  background: white;
  padding-top: 5px;
}

#shareModal .share-copy-button {
  width: 100px;
  color: $sba-white !important;
  background-color: $sba-blue !important;
}

#shareModal .share-facebook-icon {
  color: $sba-facebook-blue;
  cursor: pointer;
}

#shareModal .share-twitter-icon {
  color: $sba-twitter-blue;
  cursor: pointer;
}

#shareModal .share-linkedin-icon {
  color: $sba-linkedin-blue;
  cursor: pointer;
}
