$sba-navy: #0b2f6b;
$sba-blue: #2d78c9;
$sba-teal: #34bdc5;
$sba-dark-teal: #0a7d84;
$sba-light-blue: #a8e7ee;
$sba-gold: #ffab3b;
$sba-light-gold: #fdd196;
$sba-orange: #fe664c;
$sba-dark-orange: #c6513d;
$sba-red: #cc0000;
$sba-dark-red: #b33535;
$sba-grey-one: #ced6e1;
$sba-grey-two: #b2b9c4;
$sba-grey-three: #61656b;
$sba-dark-grey: #34363a;
$sba-white: #ffffff;

$box-shadow-color: rgba(34, 36, 38, 0.15);
$border-color: rgba(34, 36, 38, 0.15);
