div.modal {
  h2 {
    color: $sba-navy;
  }

  button.ui.icon.button.eli-modal-close-button {
    background: white;
    padding-top: 5px;
  }

  .button.submit {
    background: $sba-blue;
    color: white;
  }

  .success-message span {
    font-weight: bold;
    color: $sba-blue;
  }

  .success-message.row {
    padding: 0;
  }
}
