@import "../../assets/styles/base";
/* TopicContentView */
.topic-content-view {
  background: $sba-white;
  margin-bottom: 20px;
  border: 1px solid $border-color;
  border-radius: 0.28571429rem;
}

.topic-content-select {
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/* TopicContentItem */
.events-list-accordion-title {
  display: none;
}

.topic-content-item-group {
  margin-top: 0 !important;
}

.topic-content-item {
  border-bottom: 1px solid $border-color !important;
  margin-top: 0 !important;
}

.topic-content-item > .content {
  padding: 1em !important;
  padding-top: 0 !important;
}

.topic-content-item-header {
  padding-top: 20px !important;
  font-size: 1.75em;
  color: $sba-grey-three !important;
}

.topic-content-share-button {
  float: right;
  margin-right: 2% !important;
}

.topic-content-collapse-button {
  float: left;
}

/* TopicContentEventList */
.topic-content-event-grid {
  margin-top: 0 !important;
  margin: 0 !important;
  padding: 1em 2em !important;
  border-bottom: 1px solid $border-color !important;
  &:hover {
    background-color: #f2f3f4 !important;
  }
}

.topic-content-event-grid-icon {
  color: $sba-navy;
  font-size: 45px !important;
}

.topic-content-event-grid-header {
  font-size: 16px;
  font-weight: 500;
  &:hover {
    color: $sba-orange !important;
    text-decoration: underline;
  }
}

.topic-content-event-grid-meta {
  color: $sba-grey-three;
  font-style: italic;
}
