@import "../../assets/styles/base";

#mle-comments {
  margin: 30px 0px;

  .row.mle-comments-header-row {
    border-bottom: $main-border;
  }

  .comment-count {
    font-weight: normal;
  }

  .submission_form {
    width: 100%;
  }

  .discussion_input {
    font-style: italic;
  }

  .post_buttons {
    float: right;
    padding-top: 12px;
  }

  .row.user {
    padding-bottom: 0px;

    .username {
      font-weight: bold;
      padding-left: 0px;
    }

    .post-date {
      padding-left: 8px;
      font-weight: normal;
      font-style: italic;
    }
  }

  .row.user-title {
    padding: 4px 0px;
  }

  .reply-link-wrapper {
    width: 100%;
  }

  .reply-link {
    padding: 0 0 10px 0;
    border: none;
    font: inherit;
    font-weight: bold;
    color: $sba-blue;
    background-color: transparent;
    cursor: pointer;
  }
}